services/statemachine/text_extraction.asl.json
{
    "Comment": "A state machine that extracts text from provided image and PDF files.",
    "StartAt": "Check File Type",
    "States": {
        "Check File Type": {
            "Type": "Task",
            "Resource": "${FileTypeFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [    
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 3
                }
            ],
            "Catch": [ {
                    "ErrorEquals": [ "States.ALL" ],
                    "ResultPath": "$.error-info",
                    "Next": "Update File"
             } ],
             "ResultPath": "$.file_type",
             "Next": "PDF, Image, or Invalid?"
        },
        "PDF, Image, or Invalid?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.file_type",
                    "StringEquals": "PDF",
                    "Next": "Process PDF"
                },
                {
                    "Variable": "$.file_type",
                    "StringEquals": "Image",
                    "Next": "Process Images"
                }
            ],
            "Default": "Update File"
        },
        "Process PDF": {
            "Type": "Task",
            "Resource": "${PDFConverterFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 3
                }
            ],
            "Catch": [ {
                    "ErrorEquals": [ "States.ALL" ],
                    "ResultPath": "$.error-info",
                    "Next": "Update File"
             } ],
            "ResultPath": "$",
            "Next": "PDF or OCR?"
        },
        "PDF or OCR?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.text_source",
                    "StringEquals": "PDF",
                    "Next": "Update File"
                },
                {
                    "Variable": "$.text_source",
                    "StringEquals": "OCR",
                    "Next": "Process Images"
                }
            ],
            "Default": "Update File"
        },
        "Process Images": {
            "Type": "Task",
            "Resource": "${TextExtractionFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 3
                }
            ],
            "Catch": [ {
                    "ErrorEquals": [ "States.ALL" ],
                    "ResultPath": "$.error-info",
                    "Next": "Update File"
             } ],
            "ResultPath": "$",
            "Next": "Update File"
        },
        "Update File": {
            "Type": "Task",
            "Resource": "${FileUpdaterFunctionArn}",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 3
                }
            ],
            "End": true
        }
    }
}